body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #80cfff;
}

#board{
    margin-top: 50px !important;
    height: 600px;
    width: 700px;
    background-color: #008ce0;
    border: 10px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    font-family: "Modak";
    font-weight: 600px;
    font-size: 100px;
}

.gametitle{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Modak", serif;
    height: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 110px;
    margin: 0px;
}

.gametitle span:nth-child(odd) {
    color: red;
    -webkit-text-stroke: 3px yellow;
}
  
.gametitle span:nth-child(even) {
    color: yellow;
    -webkit-text-stroke: 3px red;
}

.tile{
    height: 80px;
    width: 80px;
    margin: 5px;
    background-color: white;
    border: black 5px solid;
    border-radius: 50%;
}

.redchip{
    background-color: red;
    border: 5px solid darkred;
    border-radius: 50%;
}

.yellowchip{
    background-color: yellow;
    border: 5px solid darkgoldenrod;
    border-radius: 50%;
}